*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    position: relative;
}
.nav{
    height: 100px;
    width: 100%;
    background-color: blueviolet;
    border-bottom:2px solid #dadada ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}
.nav-part2{
   display: flex;
  /* background-color: bisque;*/
  align-items: center;
   gap: 4vw;
}
.nav h2{
  font-size: 1.5vw;
  font-weight: 700;
}
.nav h4{
font-size: 1.1vw;
}
.nav i{
    font-weight: 800;
    display: none;
}
.content{
    height: calc(100% - 100px);/* % theke px - korar jonno calc funtion use kora hoyeche*/
    width: 100%;
   /* background-color:burlywood;*/
    display: flex;
}
.left{
    height: 100%;
    width: 55%;
    background-color:crimson;
    padding: 5vw 5vw;
}
.left h1 span{
    color: rgb(209, 182, 146);
}
.left p{
    font-size: 1.2vw;
    font-weight: 600;
    color: #61070d;
    width: 80%;
    margin-top: 1.5vw;
    margin-bottom: 4vw;
}
.left h1{
    font-size: 4.2vw;
    line-height: 4.4vw;
}
.right{
    height: 100%;
    width: 45%;
background-color:burlywood ;
}
.right img{
    height: 100%;
    width: 90%;
    padding-top: 1vw;
    padding-left:3.2vw ;
}
.nav button{
    font-size: 1.2vw;
    padding: 0.7vw 1.4vw;
    color: #888DF5;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    background-color: #3F3E77;
}
button{
    font-size: 1.2vw;
    padding: 1.1vw 2.1vw;
    color: rgb(108, 5, 5);
    border: none;
    border-radius: 5px;
    font-weight: 700;
    background-color: rgb(225, 92, 92);
}
button:hover{
    background-color:burlywood;
}
@media (max-width:600px) {
    .nav{
        background-color:#E7A652;
        color: #fff;
        padding:0 6vw;
        height: 50px;
    }
    .nav button{
        font-size: 3vw;
        padding: 1.5vw 1.5vw;
        background-color: #d87f09;
        color: #fff;
        /* display: none; */
    }
    .nav button:hover{
        background-color: #FFB85C;
    }
    .nav h2{
        font-size: 5.1vw;
    }
    .nav h4{
        font-size: 4vw;
        display: none;
    }
    .nav i{
        display: block;
        font-size: 4vw;
    }
    .content{
        height: calc(100% - 60px);
        flex-direction: column;
    }
    .left button{
        font-size: 0.5vw;
        padding: 1.5vw 1.5vw;
        color: #fff;
        /* display: none; */
    }
    .left{
        width: 100%;
        height: 45%;
        padding: 4vw 6vw;
    }
.right{
    width: 100%;
    height: 55%;
}
.left h1{
    font-size: 10vw;
    line-height: 11vw;
}
.left p{
    font-size: 3vw;
    width: 90%;
    margin-top: 5vw;
    margin-bottom: 6vw;
}
.content button{
    padding: 3vw 6vw;
    border-radius: 3px;
    font-size: 3.5vw;
    font-weight: 600;
}
}

/*#box{
    height: 500px;
    width: 500px;
    background-color: rgb(30, 214, 214);
}
#inner{
    height: 50vh;
    width: 50vw;
    background-color: rgb(23, 58, 161);
}
h1{
    font-size: 20vmax;
}*/
/*
#parent{
    background-color: #dadada;
    width: 40%;
    font-size: 30px;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 5.5rem;
}*/
/*.box{
    height: 300px;
    width: 300px;
    background-color: royalblue;
    position: absolute;
    left: 50%;
}*/
/*.parent{
    height: 100%;
    width: 100%;
    background-color:lightblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.child1{
    height: 500px;
    width: 500px;
    background-color: crimson;
    border:5px solid black ;
}
.child2{
    height: 500px;
    width: 500px;
    background-color: crimson;
    border:5px solid black ;
}
.child3{
    height: 500px;
    width: 500px;
    background-color: crimson;
    border:5px solid black ;
}
@media(max-width:600px){
    .child1{
        background-color: aqua;
        border-radius: 50%;
    }
}*/
/*h1{
    font-size: 8vw;
}*/